[Unit]
Description=Login Adapter server for MongoDB Stich

[Service]
ExecStart=/usr/bin/node /path/to/install/index.js
Restart=always
# probably not best to use root but I was to lazy to figure out
# a user that could listen on port 80
User=root
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

#config
Enviroment=SLA_SECRET="example_secret_that_is_32_long32"
Enviroment=SLA_APP_ID="appid-for-client"
Enviroment=SLA_UPSTREAM_URL="https://url.for.the.login.server.com"
Enviroment=SLA_PORT=80


WorkingDirectory=/path/to/install

[Install]